#main {
	width: 501px;
	height: 600px;
	margin: 20px auto 0px;
	background-color: #F0F2F3;
}
#left {
	width: 300px;
	height: 600px;
	float: left;
}
#right {
	width: 200px;
	height: 600px;
	border-left: dashed 1px darkgray;
	float: right;
}
.next {
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 20px;
	height: 40%;
	border-bottom: dashed 1px darkgray;
}
.score {
	height: 30%;
	border-bottom: dashed 1px darkgray;
}
.score-title, .level-title {
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 20px;
}
.level {
	height: 30%;
}
#next-img {
    display: block;
    margin: 70px auto 0px;
}
/*游戏级别*/
#level-content {
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: orangered;
    margin: 20px auto 0px;
    text-align: center;
}
#current-point {
    text-align: center;
    font-size: 3em;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
#needed-point {
    text-align: center;
    font-size: 1em;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}